body,html,.cover{
  height: 100%;
  margin: 0;
  width: 100%
}
/* flex */
.dFlex{
  display: flex
}
.alignBoth{
  align-items: center;
  justify-content: center
}
.alignVertical{
  align-items: center
}
.flex1{
  flex-grow: 1;
  min-height: 0;
  min-width: 0
}
.flexshrink{
  flex-shrink: 1;
}
.flexCol{
  flex-direction: column;
}
#root{
  height: 100%;
  
}