.rghtHdr_abt{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.flex1{
    min-width: 0;
    min-height: 0;
    flex-grow: 1
}
.dFlex{
    display: flex
}
.alignVertical{
    align-items: center
}
.flexCol{
    flex-direction: column
}
.alignBoth{
    align-items: center;
    justify-content: center
}

.overFlow{
    overflow-y: auto
}
.rghtHdr_abt1{
    letter-spacing: 4px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.rghtHdr_abt1::after{
    position: absolute;
    content: '';
    border-bottom: 3px solid #000;
    width: 360px;
    bottom: -30px;
    left: -80px
}
.txtAlCnt{
    text-align: center;
}

.cntWrap{
    background-color: #263137;
    padding-top: 30px;
    height: calc(100% - 130px)
}
.spacing{
    margin-top: 100px
}
.whtFnt{
    color: #fff;
}
.rghtHdr_abt1.whtFnt::after{
    border-color: #fff;
    left:-40px
}
.mid_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.inputFld{
    border: none;
    outline: none;
background-color: transparent;
    border: 2px solid #F4F4F4;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 33px;
}
.inputFld::placeholder{
    color: #fff;
}
.textAr{
    height: 193px;
}

.alignEnd{
    justify-content: flex-end;
}